header {
    background-color: #ff4a0a;
    height: 60px; /*exemplo de altura*/
    display: flex; /* Ativa o flexbox para os filhos do header - aqui mexeu no menu que fica no cabeçalho*/
    align-items: center; /*Alinha os itens no centro verticalmente*/
    justify-content: space-between; /*Espaça os itens igualmente entre eles*/
    padding: 0 20px; /*Adiciona um padding de 20px nas laterais*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) /*sombreamento suave na parte inferior do cabeçalho*/;
    position: fixed; /*Fixa o cabeçalho no topo da página*/
    top: 0; /* Alinha o cabeçalho ao topo da viewport */
    left: 0; /* Alinha o cabeçalho à esquerda da viewport */
    width: 100%; /* Faz o cabeçalho ocupar toda a largura da viewport */
    z-index: 100; /* Garante que o cabeçalho fique acima de outros elementos */
    box-sizing: border-box; /*Inclui o padding e a borda no cálculo da largura e altura do elemento*/;
}

header img{
    max-height: 50px; /*Limita a altura máxima da imagem do logo*/
}

header nav ul{
    list-style: none; /*Remove os marcadores da lista*/
    margin: 0; /*Remove a margem padrão*/
    padding: 0; /*Remove o padding padrão*/
    display: flex; /*Ativa o flexbox para os filhos do ul*/
}

header nav ul li{
    margin-left: 20px; /*Adiciona uma margem à esquerda de 20px para os itens da lista*/
}

header nav ul li a{
    text-decoration: none; /*Remove o sublinhado dos links*/
    color: #ffffff; /*Define a cor do texto como branco*/
    font-weight: bold; /*Define o texto como negrito*/
    padding: 8px 12px; /*Adiciona um padding de 8px em cima e embaixo e 12px nas laterais*/
    border-radius: 5px; /*Adiciona bordas arredondadas de 5px*/
    transition: background-color 0.3 ease; /*Adiciona uma transição suave para a mudança de cor de fundo*/
}

header nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.2); /*Muda a cor de fundo para um branco semitransparente ao passar o mouse*/
    color: #e4d6cb; /*Muda a cor do texto para offwhite ao passar o mouse*/
}

h1, h2, h3, h4, h5, h6, header nav ul li a{
    font-family: 'Montserrat', sans-serif; /*Define a fonte padrão como Montserrat*/
}

body{
    padding-top: 60px; /*Adiciona um padding de 60px no topo para evitar que o conteúdo fique atrás do cabeçalho fixo*/
    font-family: "Hind Madurai", sans-serif; /*Define a fonte padrão como Hind Madurai*/
}

main{
    display: flex; /*Ativa o flexbox para os filhos do main*/
    align-items: center; /*Alinha os itens no centro verticalmente*/
}

.left-main-text{
    width: 50%; /*Define a largura da coluna esquerda como 50%*/
    padding-right: 20px; /*Adiciona um padding à direita de 20px*/
    padding-left: 40px; /*Adiciona um padding à esquerda de 40px*/
    padding-top: 120px; /*Adiciona um padding no topo de 80px para afastar do header*/
    box-sizing: border-box; /*Inclui o padding e a borda no cálculo da largura e altura do elemento*/
    display: flex; /*Para centralizar o conteúdo verticalmente dentro desta seção*/
    flex-direction: column; /*Garante que os itens internos (h1 e p's) se alinhem verticalmente*/
    justify-content: center; /*Centraliza verticalmente os itens dentro do contêiner*/;
    min-height: calc(100vh - 60px - altura_do_footer); /* Define uma altura mínima para a seção*/;

}

.right-main-image{
    width: 50%; /*Define a largura da coluna direita como 50%*/
    padding-right: 40px; /*Adiciona um padding à esquerda de 20px*/
    box-sizing: border-box; /*Inclui o padding e a borda no cálculo da largura e altura do elemento*/
}

.right-main-image img{
    max-width: 100%; /*Limita a largura máxima da imagem a 100% do seu contêiner*/
    height: auto; /*Mantém a proporção da imagem*/
    display: block; /*Exibe a imagem como um bloco*/
}

footer{
    background-color: #ff4a0a; /*Cor de fundo do footer*/
    color: #e4d6cb; /* Cor do texto do footer*/
    padding: 5px;
    text-align: center; /*Centraliza o texto no footer*/
    position: fixed; /*Fixa o footer na viewport*/
    bottom: 0; /*Alinha a parte inferior do footer à parte inferior da viewport*/
    left: 0; /* Alinha a parte esquerda do footer à parte esquerda da viewport*/
    width: 100%; /* Faz o footer ocupar toda a largura da viewport*/
    box-sizing: border-box; /*Inclui o padding na largura total do footer*/
    z-index: 100; /* Garante que o footer fique acima de outros elementos*/
    display: flex; /*Ativa o flexbox para os filhos do footer*/
    justify-content: center; /*Centraliza os itens horizontalmente*/
    flex-wrap: wrap; /*Permite que os itens se movam para a próxima linha se não houver espaço suficiente*/

}
/*Estilizando os links dentro do footer*/
footer a{
    color: #f8f9fa; /*Cor do texto dos links*/
    text-decoration: none; /*Remove o sublinhado dos links*/
    margin: 0 10px; /*Adiciona uma margem de 0px em cima e embaixo e 10px nas laterais*/
}

footer a:hover{
    color: #e4d6cb; /*Muda a cor do texto dos links para offwhite ao passar o mouse*/
}

footer p, footer a{
    margin: 5px;  /*Adiciona uma margem de 5px em cima e embaixo e 0px nas laterais*/
}